{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-container">
    <div class="auth-box">
        <h2 class="auth-title">Create Account</h2>

        <form method="POST" class="auth-form" novalidate>
            {% csrf_token %}
            {{ form.as_p }}

            <button class="auth-btn">Sign Up</button>
        </form>

        <p class="auth-footer">
            Already have an account?
            <a href="{% url 'login' %}" class="auth-link">Login</a>
        </p>
    </div>
</div>

{% endblock %}
