 {% load static %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- ======================= NAVBAR ======================= -->
<nav class="navbar navbar-expand-lg navbar-custom shadow-sm">
    <div class="container">
        
        <a class="navbar-brand fw-bold" href="{% url 'profile' %}">
            <i class="bi bi-bullseye"></i> Habit Coach
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">


                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="bi bi-speedometer2"></i> Dashboard
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'habits' %}">
                                <i class="bi bi-check2-square"> habits</i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <i class="bi bi-person-circle"></i> Profile
                        </a>
                    </li>

                    <li class="nav-item ms-2">
                        <a class="btn btn-danger btn-sm" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                    </li>

                    <li class="nav-item ms-2">
                        <a class="btn btn-success btn-sm" href="{% url 'signup' %}">
                            <i class="bi bi-person-plus"></i> Sign Up
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- ======================= CONTENT ======================= -->
<div class="content-area py-4">
    {% block content %}{% endblock %}
</div>
<!-- ======================= FOOTER ======================= -->
<footer class="footer mt-auto py-4">
    <div class="container text-center">
        <h6 class="fw-bold mb-2">Habit Coach</h6>
        <p class="footer-text mb-1">Build healthy habits. Track progress. Improve your life.</p>

        <div class="social-links mb-2">
            <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
            <a href="#" class="social-icon"><i class="bi bi-instagram"></i></a>
            <a href="#" class="social-icon"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="social-icon"><i class="bi bi-github"></i></a>
        </div>

        <small class="text-muted"> Habit Coach — All Rights Reserved</small>
    </div>
</footer>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
